In [1]:
# import
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

pd.set_option('max_columns',100)


import os
os.chdir('/Users/shubhamjain/Downloads/AV/IPL/')

In [2]:
## training data

ball_data = pd.read_csv('train/ball_by_ball_data.csv')
match_data = pd.read_csv('train/match_data.csv')
key_teams = pd.read_csv('train/key_teams.csv')
players = pd.read_csv('train/player_rosters.csv')
player_attributes = pd.read_csv('player_attributes.csv')

## test data

test_player = pd.read_csv('test/player_predictions.csv')
test_matches = pd.read_csv('test/matches_2018.csv')
test_extras = pd.read_csv('test/total_extras.csv')

## submission

sub_player = pd.read_csv('sample_submission/player_predictions.csv')
sub_extras = pd.read_csv('sample_submission/total_extras.csv')

In [3]:
batsman = pd.read_csv('saved/final_batsman.csv')
bowling = pd.read_csv('saved/final_bowler.csv')
xi = pd.read_csv('saved/playing_xi.csv')
runs_score = pd.read_csv('saved/runs_score.csv')

In [4]:
runs = pd.read_csv('saved/sub_runs.csv')
wickets= pd.read_csv('saved/sub_wickets.csv')

In [5]:
runs = runs.drop_duplicates(['match_id', 'player_id']).reset_index(drop=True)

### baseline

In [6]:
sub_player = sub_player[['unique_id','match_id','player_id','team_id']]

In [7]:
sample = sub_player.merge(runs, on =['match_id','player_id'], how='left')
sample['wickets_taken_bowl_first'] = wickets['wickets_taken_bowl_first']
sample['wickets_taken_bowl_second'] = wickets['wickets_taken_bowl_second']

In [8]:
sample['playing_xi_flag'] = sample['playing_xi_flag'].astype('int')

In [9]:
## every team should contain 11 players

sample[sample['playing_xi_flag'] == 1].groupby('team_id')['player_id'].apply(lambda x: x.nunique())

team_id
CSK    11
DD     11
KKR    10
KXI    11
MI     11
RCB    11
RR      9
SRH    11
Name: player_id, dtype: int64

In [10]:
players[players['Player'] == 'Ben Laughlin']

      player_id  Season        Player Team
1897        467    2013  Ben Laughlin  CSK
1898        467    2017  Ben Laughlin  SRH
1899        467    2018  Ben Laughlin   RR

In [11]:
sample.loc[sample['player_id'] == 656, 'playing_xi_flag'] = 1
sample.loc[sample['player_id'] == 689, 'playing_xi_flag'] = 1
sample.loc[sample['player_id'] == 467, 'playing_xi_flag'] = 1

In [19]:
#sample = sample.merge(players[players['Season'] == 2018][['player_id','Player']], on='player_id', how='left')

In [20]:
sample.to_csv('saved/player_predictions.csv', index=False)

In [13]:
sample

,unique_id,match_id,player_id,team_id,playing_xi_flag,runs_scored_bat_first,runs_scored_bat_second,wickets_taken_bowl_first,wickets_taken_bowl_second
0,2018_1_1,2018_1,1,CSK,1,24,20,0,0
1,2018_1_24,2018_1,24,CSK,1,29,37,0,0
2,2018_1_114,2018_1,114,CSK,1,20,17,2,0
3,2018_1_131,2018_1,131,CSK,1,12,9,2,1
4,2018_1_175,2018_1,175,CSK,1,23,23,1,1
5,2018_1_177,2018_1,177,CSK,1,20,17,1,1
6,2018_1_189,2018_1,189,CSK,1,21,26,0,0
7,2018_1_249,2018_1,249,CSK,1,25,15,0,0
8,2018_1_254,2018_1,254,CSK,0,0,0,0,0
9,2018_1_309,2018_1,309,CSK,0,0,0,0,0
10,2018_1_333,2018_1,333,CSK,1,27,23,0,0
11,2018_1_412,2018_1,412,CSK,0,0,0,0,0
12,2018_1_507,2018_1,507,CSK,1,0,0,1,1
13,2018_1_518,2018_1,518,CSK,1,0,0,1,1
14,2018_1_570,2018_1,570,CSK,0,0,0,0,0
15,2018_1_637,2018_1,637,CSK,0,0,0,0,0
16,2018_1_638,2018_1,638,CSK,0,0,0,0,0
17,2018_1_639,2018_1,639,CSK,0,0,0,0,0
18,2018_1_640,2018_1,640,CSK,0,0,0,0,0
19,2018_1_641,2018_1,641,CSK,0,0,0,0,0
20,2018_1_642,2018_1,642,CSK,0,0,0,0,0
21,2018_1_643,2018_1,643,CSK,0,0,0,0,0
22,2018_1_644,2018_1,644,CSK,0,0,0,0,0
23,2018_1_645,2018_1,645,CSK,0,0,0,0,0
24,2018_1_646,2018_1,646,CSK,0,0,0,0,0
25,2018_1_30,2018_1,30,MI,1,25,23,0,0
26,2018_1_63,2018_1,63,MI,0,0,0,0,0
27,2018_1_126,2018_1,126,MI,1,29,13,0,0
28,2018_1_311,2018_1,311,MI,0,0,0,0,0
29,2018_1_315,2018_1,315,MI,1,22,22,1,0
...,...,...,...,...,...,...,...,...,...
2588,2018_56_638,2018_56,638,CSK,0,0,0,0,0
2589,2018_56_639,2018_56,639,CSK,0,0,0,0,0
2590,2018_56_640,2018_56,640,CSK,0,0,0,0,0
2591,2018_56_641,2018_56,641,CSK,0,0,0,0,0
2592,2018_56_642,2018_56,642,CSK,0,0,0,0,0
2593,2018_56_643,2018_56,643,CSK,0,0,0,0,0
2594,2018_56_644,2018_56,644,CSK,0,0,0,0,0
2595,2018_56_645,2018_56,645,CSK,0,0,0,0,0
2596,2018_56_646,2018_56,646,CSK,0,0,0,0,0
2597,2018_56_3,2018_56,3,KXI,1,10,12,1,1
2598,2018_56_55,2018_56,55,KXI,1,24,19,0,0
2599,2018_56_79,2018_56,79,KXI,1,25,48,0,0
2600,2018_56_88,2018_56,88,KXI,1,22,35,0,0
2601,2018_56_322,2018_56,322,KXI,1,25,39,0,0
2602,2018_56_378,2018_56,378,KXI,0,0,0,0,0
2603,2018_56_402,2018_56,402,KXI,0,0,0,0,0
2604,2018_56_458,2018_56,458,KXI,0,0,0,0,0
2605,2018_56_469,2018_56,469,KXI,1,0,0,1,1
2606,2018_56_471,2018_56,471,KXI,0,0,0,0,0
2607,2018_56_485,2018_56,485,KXI,1,17,18,3,1
2608,2018_56_535,2018_56,535,KXI,1,0,0,1,1
2609,2018_56_540,2018_56,540,KXI,1,18,26,0,0
2610,2018_56_562,2018_56,562,KXI,0,0,0,0,0
2611,2018_56_573,2018_56,573,KXI,0,0,0,0,0
2612,2018_56_662,2018_56,662,KXI,0,0,0,0,0
2613,2018_56_663,2018_56,663,KXI,0,0,0,0,0
2614,2018_56_664,2018_56,664,KXI,1,6,15,0,0
2615,2018_56_665,2018_56,665,KXI,0,0,0,0,0
2616,2018_56_666,2018_56,666,KXI,0,0,0,0,0
2617,2018_56_668,2018_56,668,KXI,1,28,28,0,0

In [29]:
player_attributes[player_attributes['player_id'] == 131]

,player_id,player_name,date_of_birth,birth_place,role,batting_style,bowling_style
130,131,Harbhajan Singh,"Jul 03, 1980","Jullundur (Now Jalandhar), Punjab",Bowler,Right Handed Bat,Right-Arm Offbreak

## Extras

In [46]:
ball_data.loc[ball_data['inning'] == 3,'inning'] = 1
ball_data.loc[ball_data['inning'] == 4,'inning'] = 2

ball_data['season'] = ball_data['match_id'].apply(lambda x: str(x).split('_')[0]).astype('int')
ball_data['match_id'] = ball_data['match_id'].apply(lambda x: str(x).split('_')[1]).astype('int')

match_data['match_id'] = match_data['match_id'].apply(lambda x: str(x).split('_')[1]).astype('int')

## selecting only last three seasons
ball_data_3 = ball_data[ball_data['season'] > 2014]
#ball_data_3 = ball_data_3.merge(match_data, on =['season', 'match_id'], how='left')

In [88]:
extra = ball_data_3.groupby(['bowler', 'inning'])['extra_runs'].apply(lambda x: x.sum()).reset_index()

In [89]:
temp = ball_data_3.groupby(['bowler', 'inning'])['match_id'].apply(lambda x: x.nunique()).reset_index()
extra = extra.merge(temp, on = ['bowler','inning'], how='left')

In [90]:
extra['avg_extra'] = extra['extra_runs']/ extra['match_id']
extra = extra[['bowler','inning', 'avg_extra']]

In [91]:
extra

                bowler  inning  avg_extra
0           Abu Nechim       1   0.500000
1           Abu Nechim       2   8.000000
2           Adam Milne       1   3.500000
3           Adam Milne       2   4.000000
4           Adam Zampa       1   0.500000
5           Adam Zampa       2   2.333333
6         Albie Morkel       1   1.500000
7         Albie Morkel       2   2.500000
8          Amit Mishra       1   0.722222
9          Amit Mishra       2   1.375000
10       Andre Russell       1   1.785714
11       Andre Russell       2   2.000000
12          Andrew Tye       1   1.250000
13          Andrew Tye       2   1.000000
14      Angelo Mathews       1   1.200000
15      Angelo Mathews       2   0.666667
16    Aniket Choudhary       1   2.000000
17    Aniket Choudhary       2   1.000000
18        Ankit Rajput       1   2.666667
19        Ankit Rajput       2   2.800000
20        Ankit Sharma       1   1.750000
21        Ankit Sharma       2   1.666667
22          Ankit Soni       1   0.500000
23          Ankit Soni       2   0.750000
24       Anureet Singh       1   1.777778
25       Anureet Singh       2   1.875000
26        Ashish Nehra       1   1.181818
27        Ashish Nehra       2   1.200000
28        Ashish Reddy       1   1.000000
29        Ashish Reddy       2   0.000000
..                 ...     ...        ...
270     Tabraiz Shamsi       2   1.333333
271       Tejas Baroka       2   0.000000
272     Thisara Perera       1   0.333333
273     Thisara Perera       2   0.285714
274        Tim Southee       1   1.818182
275        Tim Southee       2   2.000000
276        Travis Head       1   0.000000
277        Travis Head       2   0.000000
278        Trent Boult       1   2.375000
279        Trent Boult       2   1.833333
280        Tymal Mills       1   4.500000
281        Tymal Mills       2   1.333333
282        Umesh Yadav       1   2.450000
283        Umesh Yadav       2   2.800000
284        Varun Aaron       1   2.875000
285        Varun Aaron       2   2.400000
286        Vinay Kumar       1   0.250000
287        Vinay Kumar       2   1.166667
288        Virat Kohli       1   0.000000
289        Virat Kohli       2   2.000000
290  Washington Sunder       1   1.000000
291  Washington Sunder       2   0.200000
292       Yusuf Pathan       1   0.250000
293       Yusuf Pathan       2   0.600000
294       Yuvraj Singh       1   1.000000
295       Yuvraj Singh       2   0.142857
296   Yuzvendra Chahal       1   1.411765
297   Yuzvendra Chahal       2   1.888889
298        Zaheer Khan       1   1.800000
299        Zaheer Khan       2   1.583333

[300 rows x 3 columns]

In [92]:
df = xi[['player','Team','role']].rename(columns = {'player':'bowler'})

In [93]:
extra = extra.merge(df, on ='bowler', how='left')

In [94]:
extra = extra[~extra['Team'].isnull()]

In [95]:
## cal extra for each team inng wise (not including batsman)

extra = extra[extra['role'] != 'Batsman'].groupby(['Team','inning'])['avg_extra'].apply(lambda x:x.sum()).reset_index()

In [96]:
extra['avg_extra'] = extra['avg_extra'].round().astype('int')

In [97]:
test_extras

,match_id,team1_id,team2_id,total_extras_team1_bat_first,total_extras_team1_bat_second,total_extras_team2_bat_first,total_extras_team2_bat_second
0,2018_1,MI,CSK,NaN,NaN,NaN,NaN
1,2018_2,DD,KXI,NaN,NaN,NaN,NaN
2,2018_3,KKR,RCB,NaN,NaN,NaN,NaN
3,2018_4,SRH,RR,NaN,NaN,NaN,NaN
4,2018_5,CSK,KKR,NaN,NaN,NaN,NaN
5,2018_6,RR,DD,NaN,NaN,NaN,NaN
6,2018_7,SRH,MI,NaN,NaN,NaN,NaN
7,2018_8,RCB,KXI,NaN,NaN,NaN,NaN
8,2018_9,MI,DD,NaN,NaN,NaN,NaN
9,2018_10,KKR,SRH,NaN,NaN,NaN,NaN
10,2018_11,RCB,RR,NaN,NaN,NaN,NaN
11,2018_12,KXI,CSK,NaN,NaN,NaN,NaN
12,2018_13,KKR,DD,NaN,NaN,NaN,NaN
13,2018_14,MI,RCB,NaN,NaN,NaN,NaN
14,2018_15,RR,KKR,NaN,NaN,NaN,NaN
15,2018_16,KXI,SRH,NaN,NaN,NaN,NaN
16,2018_17,CSK,RR,NaN,NaN,NaN,NaN
17,2018_18,KKR,KXI,NaN,NaN,NaN,NaN
18,2018_19,DD,RCB,NaN,NaN,NaN,NaN
19,2018_20,SRH,CSK,NaN,NaN,NaN,NaN
20,2018_21,RR,MI,NaN,NaN,NaN,NaN
21,2018_22,KXI,DD,NaN,NaN,NaN,NaN
22,2018_23,MI,SRH,NaN,NaN,NaN,NaN
23,2018_24,RCB,CSK,NaN,NaN,NaN,NaN
24,2018_25,SRH,KXI,NaN,NaN,NaN,NaN
25,2018_26,DD,KKR,NaN,NaN,NaN,NaN
26,2018_27,CSK,MI,NaN,NaN,NaN,NaN
27,2018_28,RR,SRH,NaN,NaN,NaN,NaN
28,2018_29,RCB,KKR,NaN,NaN,NaN,NaN
29,2018_30,CSK,DD,NaN,NaN,NaN,NaN
30,2018_31,RCB,MI,NaN,NaN,NaN,NaN
31,2018_32,DD,RR,NaN,NaN,NaN,NaN
32,2018_33,KKR,CSK,NaN,NaN,NaN,NaN
33,2018_34,KXI,MI,NaN,NaN,NaN,NaN
34,2018_35,CSK,RCB,NaN,NaN,NaN,NaN
35,2018_36,SRH,DD,NaN,NaN,NaN,NaN
36,2018_37,MI,KKR,NaN,NaN,NaN,NaN
37,2018_38,KXI,RR,NaN,NaN,NaN,NaN
38,2018_39,SRH,RCB,NaN,NaN,NaN,NaN
39,2018_40,RR,KXI,NaN,NaN,NaN,NaN
40,2018_41,KKR,MI,NaN,NaN,NaN,NaN
41,2018_42,DD,SRH,NaN,NaN,NaN,NaN
42,2018_43,RR,CSK,NaN,NaN,NaN,NaN
43,2018_44,KXI,KKR,NaN,NaN,NaN,NaN
44,2018_45,RCB,DD,NaN,NaN,NaN,NaN
45,2018_46,CSK,SRH,NaN,NaN,NaN,NaN
46,2018_47,MI,RR,NaN,NaN,NaN,NaN
47,2018_48,KXI,RCB,NaN,NaN,NaN,NaN
48,2018_49,KKR,RR,NaN,NaN,NaN,NaN
49,2018_50,MI,KXI,NaN,NaN,NaN,NaN
50,2018_51,RCB,SRH,NaN,NaN,NaN,NaN
51,2018_52,DD,CSK,NaN,NaN,NaN,NaN
52,2018_53,RR,RCB,NaN,NaN,NaN,NaN
53,2018_54,SRH,KKR,NaN,NaN,NaN,NaN
54,2018_55,DD,MI,NaN,NaN,NaN,NaN
55,2018_56,CSK,KXI,NaN,NaN,NaN,NaN

In [98]:
extra

   Team  inning  avg_extra
0   CSK       1          8
1   CSK       2          7
2    DD       1          8
3    DD       2          9
4   KKR       1          8
5   KKR       2          8
6   KXI       1          8
7   KXI       2          7
8    MI       1          9
9    MI       2          8
10  RCB       1          9
11  RCB       2          8
12   RR       1          6
13   RR       2          7
14  SRH       1          7
15  SRH       2          7

In [117]:
sub = sub_extras[['match_id', 'team1_id', 'team2_id']]

In [118]:
sub = sub.merge(extra[extra['inning'] == 1][['Team','avg_extra']].rename(columns = {'Team':'team2_id',
                                                       'avg_extra':'total_extras_team1_bat_first'}), on='team2_id',how='left')

In [119]:
sub = sub.merge(extra[extra['inning'] == 2][['Team','avg_extra']].rename(columns = {'Team':'team2_id',
                                                       'avg_extra':'total_extras_team1_bat_second'}), on='team2_id',how='left')

In [120]:
sub = sub.merge(extra[extra['inning'] == 1][['Team','avg_extra']].rename(columns = {'Team':'team1_id',
                                                       'avg_extra':'total_extras_team2_bat_first'}), on='team1_id',how='left')

In [121]:
sub = sub.merge(extra[extra['inning'] == 2][['Team','avg_extra']].rename(columns = {'Team':'team1_id',
                                                       'avg_extra':'total_extras_team2_bat_second'}), on='team1_id',how='left')

In [123]:
sub.to_csv('saved/total_extra.csv', index=False)